.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item {
    width: 300px;
    border: 1px solid rgb(64, 61, 61);
    box-shadow: 5px 4px 3px rgb(153, 138, 138);
    border-radius: 8px;
    padding: 20px;
    background-color: #e5e3c3;
}

.id{
    font-size: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    font-weight: 500
}


.text {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: #e64040;
    cursor: pointer;
}


